html,body{
    margin: 0px;
}

@keyframes pop-out {
	0% {

	}
	100% {
		transform: translate(-0.1em, -1.5em);
	}	
}

.input-div {
	display: flex;
	flex-direction: column;
	position: relative;
	height: fit-content;
	margin: 5%;
}

.control:focus {
	outline: none;
	border-bottom: 2px solid #107abd;
}

.control:focus + label {
	animation: pop-out 0.25s forwards;
}

.control:not(:placeholder-shown) + label {
	transform: translate(-0.1em, -1.5em);
}


.control:not(:placeholder-shown) {
	border-bottom: 2px solid #107abd;
}


.label {
	position: absolute;
	color: #cbc7c3;
	z-index: 1;
}

.control {
	z-index: 2;
	background: transparent;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: #fbfbfb;
}

.card   {
	border-style: solid;
	border-color: #ffffff;
	border-width: 4px;
	border-radius: 50px;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.03);
    background-color: #ffffff;
    min-width: 270px;
    min-height: 20%;
	width: 25%;
    display: flex;
    flex-direction: column;
	font-family: sans-serif;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
	padding-top: 2.5%;
}

.card input {
	position: relative;
	border: none;
	border-bottom: 1px solid #707070;
	height: 35px;
	font-size: 20px;
}

.card button {
	margin: 10% 5% 0% 5%;
	padding: 4%;
	border-radius: 8% / 50%;
	border: none;
	background-color: #1390DE;
	color: #FFFFFF;
	font-size: 20px;
	box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.2);
}

.card button:hover {
	box-shadow: 0px 2px 5px 4px rgba(0,0,0,0.3);
	transform: scale(1.05);
}

.card button:active {
	transform: scale(0.97);
	box-shadow: none;
	background-color: #107abd;
	color: #EDEDED;
}

.card input::placeholder {
	color: transparent;
}

.card h1 {
	text-align: center;
}